bin/Debug/net7.0/DesignPatterns.deps.json
bin/Debug/net7.0/DesignPatterns.dll
bin/Debug/net7.0/DesignPatterns.exe
bin/Debug/net7.0/DesignPatterns.pdb
bin/Debug/net7.0/DesignPatterns.runtimeconfig.json
obj/DesignPatterns.csproj.nuget.dgspec.json
obj/DesignPatterns.csproj.nuget.g.props
obj/DesignPatterns.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/DesignPatterns.AssemblyInfo.cs
obj/Debug/net7.0/DesignPatterns.AssemblyInfoInputs.cache
obj/Debug/net7.0/DesignPatterns.assets.cache
obj/Debug/net7.0/DesignPatterns.csproj.AssemblyReference.cache
obj/Debug/net7.0/DesignPatterns.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/DesignPatterns.csproj.FileListAbsolute.txt
obj/Debug/net7.0/DesignPatterns.dll
obj/Debug/net7.0/DesignPatterns.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/DesignPatterns.genruntimeconfig.cache
obj/Debug/net7.0/DesignPatterns.GlobalUsings.g.cs
obj/Debug/net7.0/DesignPatterns.pdb
obj/Debug/net7.0/ref/DesignPatterns.dll
obj/Debug/net7.0/refint/DesignPatterns.dll
